<%= form_for @matter do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :nome_materia %><br />
    <%= f.text_field :nome_materia %>
  </p>
  <p>
    <%= f.label :compresenza %><br />
    <%= f.check_box :compresenza %>
  </p>
  <p>
    <%= f.label :giardino %><br />
    <%= f.check_box :giardino %>
  </p>
  <p>
    <%= f.label :altri_costi %><br />
    <%= f.text_field :altri_costi %>
  </p>
  <p><%= f.submit %></p>
<% end %>
