<div id="tabs">
	<ul>
		<% @grades.each do |grade| %>
		<li><a href="#tab_<%= grade.id %>"><%= grade.descr_classe %></a></li>
		<% end %>
	</ul>
<div class="row" >
	<% @grades.each do |grade| %>
		<div id="tab_<%= grade.id %>" class="calendar">
			<div class="row">
					<ul class="span138 day">
						<li class="daydef">Orari</li>
						<li class="schedule">8.30 - 9.30</li>
						<li class="schedule">9.30 - 10.30</li>
						<li class="schedule">10.30 - 11.00</li>
						<li class="schedule">11.00 - 12.00</li>
						<li class="schedule">12.00 - 13.00</li>
						<li class="schedule">14.00 - 15.00</li>
						<li class="schedule">15.00 - 16.00</li>
						<li class="schedule">16.00 - 17.00</li>
					</ul>
				<% @days.each do |day| %>
					<ul id="<%= day.giornata.downcase %>" class="span138 day" >
						<li class="daydef"><%= day.giornata %></li>
						<% @timeframes.each do |tm| %>
							<li id="<%= @almanac.id %>_<%= day.id %>_<%= tm.id %>_<%= grade.id %>" class="schedule body" name="<%= tm.orario %>"></li>
						<% end %>
					</ul>
				<% end %>
			</div>
		</div> <!-- chiude .calendar -->
	<% end %>
</div>
</div> <!-- chiude #tabs -->
<ul id="nascosta" style="visibility: hidden;">
	<% @caledars.each do |cal| %>
		<li id="idcal_<%= cal.id %>" name="<%= cal.almanac_id %>_<%= cal.day_id %>_<%= cal.timeframe_id %>_<%= cal.grade_id %>"><%= cal.matter.nome_materia%></li>
	<% end %>
</ul>