<% title "Calendar" %>

<p>
  <strong>Almanac:</strong>
  <%= @calendar.almanac_id %>
</p>
<p>
  <strong>Prospect Structure:</strong>
  <%= @calendar.prospect_structure_id %>
</p>

<p>
  <%= link_to "Edit", edit_calendar_path(@calendar) %> |
  <%= link_to "Destroy", @calendar, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", calendars_path %>
</p>
